.navbar {
    background-color: white;
    padding: 15px ;
    height: 80px;
    max-width: 1500px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    color: #333;
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #d9534f;
}